<div class="gt-inline-block gt-mbean-expanded-content"
     style="margin-left: -10px;">
  <label>{{nodeName}}</label>
  <table>
    {{#each attributeMap}}
      <tr>
        <td valign="top">{{@key}}</td>
        <td style="padding-left: 10px;">
          {{#ifNull .}}
            <div>null</div>
          {{^}}
            {{#ifSimpleValue .}}
              <div class="gt-break-word">
                {{.}}
              </div>
            {{^}}
              <div>
                <pre class="gt-mbean-value-pre gt-break-word">{{indentedJson .}}</pre>
              </div>
            {{/ifSimpleValue}}
          {{/ifNull}}
        </td>
      </tr>
    {{/each}}
    <!-- all the platform mbeans already expose ObjectName attribute -->
    {{#unless attributes.ObjectName}}
      <tr>
        <td valign="top"><em>ObjectName</em></td>
        <td style="padding-left: 10px;">
          <div class="gt-break-word">
            {{objectName}}
          </div>
        </td>
      </tr>
    {{/unless}}
  </table>
</div>
