{{#if transactions}}<strong>Matched threads</strong> (matched to currently executing transactions):<br>
{{#each transactions}}{{#if transactionType}}<strong>Transaction type: </strong>{{transactionType}}
<strong>Transaction name:</strong> {{transactionName}}
<strong>Transaction duration:</strong> {{nanosToMillis transactionTotalNanos}} milliseconds {{#if traceId}}<a href="jvm/thread-dump?modal-trace-id={{traceId}}">view trace</a>{{/if}}
{{/if}}{{#each threads}}"{{name}}"
&nbsp;&nbsp;&nbsp;java.lang.Thread.State: {{state}}
{{#ifBlocked state}}        - blocked on {{lockName}}
{{/ifBlocked}}{{#ifWaiting state}}{{#if lockName}}        - waiting on {{lockName}}
{{/if}}{{/ifWaiting}}{{#each stackTraceElements}}        {{.}}
{{/each}}{{/each}}<br>{{/each}}{{/if}}{{#if unmatchedThreads}}<strong>Unmatched threads</strong> (this may possibly include currently executing transactions that just started or just ended):<br>
{{#each unmatchedThreads}}"{{name}}"
&nbsp;&nbsp;&nbsp;java.lang.Thread.State: {{state}}
{{#ifBlocked state}}        - blocked on {{lockName}}
{{/ifBlocked}}{{#ifWaiting state}}{{#if lockName}}        - waiting on {{lockName}}
{{/if}}{{/ifWaiting}}{{#each stackTraceElements}}        {{.}}
{{/each}}<br>{{/each}}{{/if}}{{#if threadDumpingThread}}<strong>Thread dumping thread</strong> (producing this thread dump):<br>
"{{threadDumpingThread/name}}"
&nbsp;&nbsp;&nbsp;java.lang.Thread.State: {{threadDumpingThread/state}}
{{#ifBlocked threadDumpingThread/state}}        - blocked on {{threadDumpingThread/lockName}}
{{/ifBlocked}}{{#ifWaiting threadDumpingThread/state}}{{#if threadDumpingThread/lockName}}        - waiting on {{threadDumpingThread/lockName}}
{{/if}}{{/ifWaiting}}{{#each threadDumpingThread/stackTraceElements}}        {{.}}
{{/each}}{{/if}}
