<div id="gtTraceEntry{{index}}">
  <div style="width: 102px; vertical-align: top; float: left;"
       title="duration {{nanosToMillis durationNanos}}{{#if active}}..{{/if}} milliseconds, offset {{nanosToMillis
           startOffsetNanos}} milliseconds">
    <div class="gt-trace-entry-bar-outer">
      <div class="gt-trace-entry-bar"
           style="margin-left: {{traceEntryBarLeft startOffsetNanos}}px; width: {{traceEntryBarWidth .}}px;">
      </div>
    </div>
  </div>
  <div style="overflow: hidden; padding-left: {{traceEntryIndentPx .}}px;">
    {{#if childEntries}}
      <div class="gt-width2 gt-trace-entry-toggle" data-gt-index="{{index}}" style="float: left;">
        <i title="Collapse" class="fa fa-minus-square-o" style="padding: 5px; margin-left: -5px;"></i>
      </div>
    {{/if}}
    {{#ifDisplayMessage .}}
      {{#ifLongMessage .}}
      {{! surrounding div is needed as common parent for toggling unexpanded/expanded content }}
        <div class="gt-indent2">
          <div class="gt-inline-block gt-unexpanded-content gt-monospace">
            {{firstPart .}}&nbsp;<span class="gt-link-color"><strong
              class="gt-opensans">...</strong></span>&nbsp;{{lastPart .}}
          </div>
          <!-- only convert newlines to <br>s for long messages -->
          <div class="gt-expanded-content gt-with-clip hide"
               style="position: relative; display: inline-block;">
            <i class="fa fa-clipboard gt-clip"></i>
            <div class="gt-break-word gt-pre-wrap gt-monospace gt-clip-text gt-expanded-trace-entry"
                 data-gt-trace-entry-index="{{index}}"><!--
              lack of space here is significant because of gt-pre-wrap
              -->{{message}}<!--
         --></div>
            <div>
              <div class="hide gt-trace-detail-spinner"></div>
            </div>
          </div>
        </div>
      {{^}}
        <div class="gt-indent2">
          <div class="gt-inline-block gt-content-padding gt-monospace">
            {{message}}
          </div>
        </div>
      {{/ifLongMessage}}
      {{#ifNonEmptyObject detail}}
        <div class="gt-content-detail">
          <span class="gt-inline-block gt-unexpanded-content gt-link-color gt-opensans">detail</span>
          <span class="gt-inline-block gt-expanded-content hide">
          <span class="gt-inline-block gt-link-color gt-opensans">detail</span>
            {{{entryDetailHtml detail}}}
        </span>
        </div>
      {{/ifNonEmptyObject}}
    {{/ifDisplayMessage}}
    {{#if error}}
      <div class="{{{errorIndentClass message}}}">
        <div>
          <strong>
            <span class="gt-inline-block gt-content-padding gt-break-word gt-pre-wrap"><!--
              lack of space here is significant because of gt-pre-wrap
           -->{{error.message}}<!--
         --></span>
          </strong>
        </div>
        {{#if error.exception}}
          <div class="{{{exceptionIndentClass message}}}">
            <div class="gt-inline-block gt-unexpanded-content gt-link-color gt-opensans">exception</div>
            {{! using span so background will stretch beyond page border if needed }}
            <div class="gt-inline-block gt-expanded-content gt-nowrap gt-with-clip hide"
                 style="overflow-x: auto;">
              <div class="gt-inline-block gt-link-color gt-opensans">exception</div>
              <div class="gt-clip-text">
                {{{exceptionHtml error.exception}}}
              </div>
              <i class="fa fa-clipboard gt-clip"></i>
            </div>
          </div>
        {{/if}}
      </div>
    {{/if}}
    {{#if locationStackTraceElements}}
      <div class="gt-indent6">
        <div class="gt-inline-block gt-unexpanded-content gt-link-color gt-opensans">location stack trace</div>
        {{! using span so background will stretch beyond page border if needed }}
        <div class="gt-inline-block gt-expanded-content gt-nowrap gt-with-clip hide"
             style="overflow-x: auto;">
          <div class="gt-inline-block gt-link-color gt-opensans">location stack trace</div>
          <div class="gt-clip-text">
            {{{locationStackTraceHtml locationStackTraceElements}}}
          </div>
          <i class="fa fa-clipboard gt-clip"></i>
        </div>
      </div>
    {{/if}}
  </div>
</div>
