<div class="second-line-indent">
  <strong>
    {{#if transactionName}}
      {{transactionName}}
    {{^}}
      All Transactions
    {{/if}}
  </strong>
  {{#if showExport}}
    <button class="flat-btn flat-btn-big glowroot-link-color download-aggregate">
      export
    </button>
  {{/if}}
</div>
<div>
  Transaction type: {{transactionType}}
</div>
<div>
  From: {{date from}}
</div>
<div>
  To: {{date to}}
</div>
<div>
  Average duration: {{divideMicrosByCount totalMicros count}} milliseconds
</div>
<div>
  Count: {{count}} traces
</div>
<div>
  Error count: {{errorCount}} traces
</div>
<div>
  Breakdown (averages per trace, in milliseconds):
</div>
<div class="trace-metrics">
  <table class="trace-metrics-table indent2" style="border-spacing: 0;">
    <thead>
    <tr>
      <td></td>
      <td>total</td>
      <td>count</td>
      <td>
        <button class="flat-btn flat-btn-big glowroot-link-color metric-view-toggle"
                style="margin-top: -6px; margin-bottom: -6px;">
          switch to tree view
        </button>
      </td>
    </tr>
    </thead>
    <tbody>
    {{#eachAggregateMetricFlattenedOrdered metrics}}
      <tr class="align-top">
        <td style="text-align: left;">
          <div style="margin-left: {{metricIndent .}}em;">
            <div class="second-line-indent">{{name}}</div>
          </div>
        </td>
        <td>{{divideMicrosByCount totalMicros ../count}}</td>
        <td>{{divideCountByCount count ../count}}</td>
        <td></td>
      </tr>
    {{/eachAggregateMetricFlattenedOrdered}}
    </tbody>
  </table>
  <table class="hide trace-metrics-table indent2" style="border-spacing: 0;">
    <thead>
    <tr>
      <td></td>
      <td>total</td>
      <td>count</td>
      <td>
        <button class="flat-btn flat-btn-big glowroot-link-color metric-view-toggle"
                style="margin-top: -6px; margin-bottom: -6px;">
          switch to flattened view
        </button>
      </td>
    </tr>
    </thead>
    <tbody>
    {{#eachAggregateMetricOrdered metrics}}
      <tr class="align-top">
        <td style="text-align: left;">
          <div style="margin-left: {{metricIndent .}}em;">
            <div class="second-line-indent">{{name}}</div>
          </div>
        </td>
        <td>{{divideMicrosByCount totalMicros ../count}}</td>
        <td>{{divideCountByCount count ../count}}</td>
        <td></td>
      </tr>
    {{/eachAggregateMetricOrdered}}
    </tbody>
  </table>
</div>
<br>
{{#ifExistenceYes profileExistence}}
  <div>
    <button class="flat-btn flat-btn-big-pad1aligned aggregate-profile-toggle">
      <span class="glowroot-link-color">Profile</span>
    </button>
    {{! spinner is not used in export file }}
    <div>
      <div class="hide trace-detail-spinner"></div>
    </div>
  </div>
  <div class="nowrap hide" id="profileOuter">
    <select class="form-control profile-filter input-xlarge hide" onchange="this.blur()"
            style="margin: 4px;">
    </select>
    <div class="profile indent1"></div>
  </div>
{{/ifExistenceYes}}
{{#ifExistenceExpired profileExistence}}
  <div>
    <strong>
      Profile no longer exists for this trace
    </strong>
    <em>(see Glowroot > Configuration &gt; Storage &gt; Trace entries/profiles capped db)</em>
  </div>
{{/ifExistenceExpired}}
