{{#if error}}
  <div>
    <strong>ERROR</strong>
  </div>
{{/if}}
{{#if active}}
  <div>
    <strong>ACTIVE {{#if partial}}/ PARTIAL{{/if}}</strong>
  </div>
{{^}}
  {{#if partial}}
    <div>
      <strong>PARTIAL</strong>
    </div>
  {{/if}}
{{/if}}
{{#if background}}
  <div>
    <strong>Background</strong>
  </div>
{{/if}}
<div class="gt-second-line-indent">
  <strong>{{headline}}</strong>
  {{#if showExport}}
    <button class="gt-flat-btn gt-flat-btn-big gt-link-color download-trace">
      export
    </button>
  {{/if}}
</div>
<div class="gt-second-line-indent">
  Transaction type: {{transactionType}}
</div>
<div class="gt-second-line-indent">
  Transaction name: {{transactionName}}
</div>
<div>
  Start: {{date startTime}}
</div>
<div>
  Duration: {{nanosToMillis duration}}{{#if active}}..{{/if}} milliseconds
</div>
{{#if error}}
  <div class="gt-second-line-indent">
    <strong>Error: {{error}}</strong>
  </div>
{{/if}}
{{#if user}}
  <div class="gt-second-line-indent">
    User: {{user}}
  </div>
{{/if}}
{{#eachKeyValuePair customAttributes}}
  <div class="gt-second-line-indent">
    {{key}}: {{value}}
  </div>
{{/eachKeyValuePair}}
<div>
  Breakdown (in milliseconds):
</div>
<div class="gt-trace-metrics">
  <table class="gt-trace-metrics-table gt-indent2" style="border-spacing: 0;">
    <thead>
    <tr>
      <td></td>
      <td>total</td>
      <td>min</td>
      <td>max</td>
      <td>count</td>
      <td>
        <button class="gt-flat-btn gt-flat-btn-big gt-link-color gt-metric-view-toggle"
                style="margin-top: -6px; margin-bottom: -6px;">
          switch to tree view
        </button>
      </td>
    </tr>
    </thead>
    <tbody>
    {{#eachMetricFlattenedOrdered metrics}}
      <tr class="align-top">
        <td style="text-align: left;">
          <div style="margin-left: {{metricIndent .}}em;">
            <div class="gt-second-line-indent">{{name}}</div>
          </div>
        </td>
        <td>{{nanosToMillis total}}{{#if active}}..{{/if}}</td>
        <td>{{nanosToMillis min}}{{#if minActive}}..{{/if}}</td>
        <td>{{nanosToMillis max}}{{#if maxActive}}..{{/if}}</td>
        <td>{{count}}</td>
        <td></td>
      </tr>
    {{/eachMetricFlattenedOrdered}}
    </tbody>
  </table>
  <table class="hide gt-trace-metrics-table gt-indent2" style="border-spacing: 0;">
    <thead>
    <tr>
      <td></td>
      <td>total</td>
      <td>min</td>
      <td>max</td>
      <td>count</td>
      <td>
        <button class="gt-flat-btn gt-flat-btn-big gt-link-color gt-metric-view-toggle"
                style="margin-top: -6px; margin-bottom: -6px;">
          switch to flattened view
        </button>
      </td>
    </tr>
    </thead>
    <tbody>
    {{#eachMetricOrdered metrics}}
      <tr class="align-top">
        <td style="text-align: left;">
          <div style="margin-left: {{metricIndent .}}em;">
            <div class="gt-second-line-indent">{{name}}</div>
          </div>
        </td>
        <td>{{nanosToMillis total}}{{#if active}}..{{/if}}</td>
        <td>{{nanosToMillis min}}{{#if minActive}}..{{/if}}</td>
        <td>{{nanosToMillis max}}{{#if maxActive}}..{{/if}}</td>
        <td>{{count}}</td>
        <td></td>
      </tr>
    {{/eachMetricOrdered}}
    </tbody>
  </table>
</div>
{{#ifThreadInfo threadInfo}}
  <div>
    Thread info
  </div>
  {{#ifExists threadInfo.threadCpuTime}}
    <div class="gt-indent2">
      CPU time: {{nanosToMillis threadInfo.threadCpuTime}} milliseconds
    </div>
  {{/ifExists}}
  {{#ifExists threadInfo.threadBlockedTime}}
    <div class="gt-indent2">
      Blocked time: {{threadInfo.threadBlockedTime}} milliseconds
    </div>
  {{/ifExists}}
  {{#ifExists threadInfo.threadWaitedTime}}
    <div class="gt-indent2">
      Waited time: {{threadInfo.threadWaitedTime}} milliseconds
    </div>
  {{/ifExists}}
  {{#ifExists threadInfo.threadAllocatedBytes}}
    <div class="gt-indent2">
      Allocated memory: {{formatAllocatedBytes threadInfo.threadAllocatedBytes}}
    </div>
  {{/ifExists}}
{{/ifThreadInfo}}
{{#if gcInfos}}
  <div>
    GC info
  </div>
  {{#eachGcInfoOrdered gcInfos}}
    <div class="gt-indent2">
      {{name}}: {{collectionTime}} milliseconds ({{collectionCount}}
      collection{{#ifNotOne collectionCount}}s{{/ifNotOne}})
    </div>
  {{/eachGcInfoOrdered}}
{{/if}}
<br>
{{#ifExistenceYes entriesExistence}}
  <div>
    <button class="gt-flat-btn gt-flat-btn-big-pad1aligned gt-sps-toggle">
      <span class="gt-link-color">Trace entries</span>
    </button>
    {{! spinner is not used in export file }}
    <div>
      <div class="hide gt-trace-detail-spinner"></div>
    </div>
  </div>
  <div id="sps"></div>
{{/ifExistenceYes}}
{{#ifExistenceExpired entriesExistence}}
  <div>
    <strong>
      Entries no longer exists for this trace
    </strong>
    <em>(see Glowroot > Configuration &gt; Storage &gt; Spans/profiles capped db)</em>
  </div>
{{/ifExistenceExpired}}
{{#ifExistenceYes profileExistence}}
  <div>
    <button class="gt-flat-btn gt-flat-btn-big-pad1aligned gt-profile-toggle">
      <span class="gt-link-color">Profile</span>
    </button>
    {{! spinner is not used in export file }}
    <div>
      <div class="hide gt-trace-detail-spinner"></div>
    </div>
  </div>
  <div class="gt-nowrap hide" id="profileOuter">
    <select class="form-control gt-profile-filter gt-input-xlarge hide" onchange="this.blur()"
            style="margin: 4px;">
    </select>
    <div class="gt-profile gt-indent1"></div>
  </div>
{{/ifExistenceYes}}
{{#ifExistenceExpired profileExistence}}
  <div>
    <strong>
      Profile no longer exists for this trace
    </strong>
    <em>(see Glowroot > Configuration &gt; Storage &gt; Trace entries/profiles capped db)</em>
  </div>
{{/ifExistenceExpired}}
