{{#if errorMessage}}
  <div>
    <strong>ERROR</strong>
  </div>
{{/if}}
{{#if active}}
  <div>
    <strong>ACTIVE {{#if stuck}}/ STUCK{{/if}}</strong>
  </div>
{{^}}
  {{#if stuck}}
    <div>
      <strong>STUCK</strong>
    </div>
  {{/if}}
{{/if}}
{{#if background}}
  <div>
    <strong>Background</strong>
  </div>
{{/if}}
<div class="second-line-indent">
  {{grouping}}
  {{#if showExport}}
    <button class="flat-btn flat-btn-big glowroot-link-color download-trace" data-trace-id="{{id}}">
      export
    </button>
  {{/if}}
</div>
<div>
  Start: {{date startTime}}
</div>
<div>
  Duration: {{nanosToMillis duration}}{{#if active}}..{{/if}} milliseconds
</div>
{{#if errorMessage}}
  <div class="second-line-indent">
    <strong>Error: {{errorMessage}}</strong>
  </div>
{{/if}}
{{#eachKeyValuePair attributes}}
  <div class="second-line-indent">
    {{key}}: {{value}}
  </div>
{{/eachKeyValuePair}}
{{#if userId}}
  <div class="second-line-indent">
    User ID: {{userId}}
  </div>
{{/if}}
<div>
  Breakdown (in milliseconds):
</div>
<table class="metrics-table indent2" style="border-spacing: 0;">
  <thead>
    <tr>
      <td></td>
      <td>total</td>
      <td>min</td>
      <td>max</td>
      <td>count</td>
    </tr>
  </thead>
  <tbody>
    {{#eachMetricOrdered .}}
      <tr class="align-top">
        <td style="text-align: left;"><div class="second-line-indent">{{name}}</div></td>
        <td>{{nanosToMillis total}}{{#if active}}..{{/if}}</td>
        <td>{{nanosToMillis min}}{{#if minActive}}..{{/if}}</td>
        <td>{{nanosToMillis max}}{{#if maxActive}}..{{/if}}</td>
        <td>{{count}}</td>
      </tr>
    {{/eachMetricOrdered}}
    {{#ifMetricsTruncated .}}
      <tr class="align-top">
        <td style="text-align: left;"><div class="second-line-indent">...</div></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {{/ifMetricsTruncated}}
  </tbody>
</table>
{{#ifThreadInfo jvmInfo}}
  <div>
    Thread info
  </div>
  {{#ifExists jvmInfo.threadCpuTime}}
    <div class="indent2">
      CPU time: {{nanosToMillis jvmInfo.threadCpuTime}} milliseconds
    </div>
  {{/ifExists}}
  {{#ifExists jvmInfo.threadBlockedTime}}
    <div class="indent2">
      Blocked time: {{jvmInfo.threadBlockedTime}} milliseconds
    </div>
  {{/ifExists}}
  {{#ifExists jvmInfo.threadWaitedTime}}
    <div class="indent2">
      Waited time: {{jvmInfo.threadWaitedTime}} milliseconds
    </div>
  {{/ifExists}}
  {{#ifExists jvmInfo.threadAllocatedBytes}}
    <div class="indent2">
      Allocated memory: {{formatAllocatedBytes jvmInfo.threadAllocatedBytes}}
    </div>
  {{/ifExists}}
{{/ifThreadInfo}}
{{#if jvmInfo.garbageCollectorInfos}}
  <div>
    GC info
  </div>
  {{#eachGarbageCollectorInfoOrdered jvmInfo.garbageCollectorInfos}}
    <div class="indent2">
      {{name}}: {{collectionTime}} milliseconds ({{collectionCount}}
      collection{{#ifMoreThanOne collectionCount}}s{{/ifMoreThanOne}})
    </div>
  {{/eachGarbageCollectorInfoOrdered}}
{{/if}}
