{{#if error}}
  <div>
    <strong>ERROR</strong>
  </div>
{{/if}}
{{#if active}}
  <div>
    <strong>ACTIVE {{#if stuck}}/ STUCK{{/if}}</strong>
  </div>
{{^}}
  {{#if stuck}}
    <div>
      <strong>STUCK</strong>
    </div>
  {{/if}}
{{/if}}
{{#if background}}
  <div>
    <strong>Background</strong>
  </div>
{{/if}}
<div class="second-line-indent">
  <strong>{{headline}}</strong>
  {{#if showExport}}
    <button class="flat-btn flat-btn-big glowroot-link-color download-trace">
      export
    </button>
  {{/if}}
</div>
<div class="second-line-indent">
  Transaction type: {{transactionType}}
</div>
<div class="second-line-indent">
  Transaction name: {{transactionName}}
</div>
<div>
  Start: {{date startTime}}
</div>
<div>
  Duration: {{nanosToMillis duration}}{{#if active}}..{{/if}} milliseconds
</div>
{{#if error}}
  <div class="second-line-indent">
    <strong>Error: {{error}}</strong>
  </div>
{{/if}}
{{#if user}}
  <div class="second-line-indent">
    User: {{user}}
  </div>
{{/if}}
{{#eachKeyValuePair attributes}}
  <div class="second-line-indent">
    {{key}}: {{value}}
  </div>
{{/eachKeyValuePair}}
<div>
  Breakdown (in milliseconds):
</div>
<div class="trace-metrics">
  <table class="trace-metrics-table indent2" style="border-spacing: 0;">
    <thead>
    <tr>
      <td></td>
      <td>total</td>
      <td>min</td>
      <td>max</td>
      <td>count</td>
      <td>
        <button class="flat-btn flat-btn-big glowroot-link-color metric-view-toggle"
                style="margin-top: -6px; margin-bottom: -6px;">
          switch to tree view
        </button>
      </td>
    </tr>
    </thead>
    <tbody>
    {{#eachTraceMetricFlattenedOrdered traceMetrics}}
      <tr class="align-top">
        <td style="text-align: left;">
          <div style="margin-left: {{traceMetricIndent .}}em;">
            <div class="second-line-indent">{{name}}</div>
          </div>
        </td>
        <td>{{nanosToMillis total}}{{#if active}}..{{/if}}</td>
        <td>{{nanosToMillis min}}{{#if minActive}}..{{/if}}</td>
        <td>{{nanosToMillis max}}{{#if maxActive}}..{{/if}}</td>
        <td>{{count}}</td>
        <td></td>
      </tr>
    {{/eachTraceMetricFlattenedOrdered}}
    </tbody>
  </table>
  <table class="hide trace-metrics-table indent2" style="border-spacing: 0;">
    <thead>
    <tr>
      <td></td>
      <td>total</td>
      <td>min</td>
      <td>max</td>
      <td>count</td>
      <td>
        <button class="flat-btn flat-btn-big glowroot-link-color metric-view-toggle"
                style="margin-top: -6px; margin-bottom: -6px;">
          switch to flattened view
        </button>
      </td>
    </tr>
    </thead>
    <tbody>
    {{#eachTraceMetricOrdered traceMetrics}}
      <tr class="align-top">
        <td style="text-align: left;">
          <div style="margin-left: {{traceMetricIndent .}}em;">
            <div class="second-line-indent">{{name}}</div>
          </div>
        </td>
        <td>{{nanosToMillis total}}{{#if active}}..{{/if}}</td>
        <td>{{nanosToMillis min}}{{#if minActive}}..{{/if}}</td>
        <td>{{nanosToMillis max}}{{#if maxActive}}..{{/if}}</td>
        <td>{{count}}</td>
        <td></td>
      </tr>
    {{/eachTraceMetricOrdered}}
    </tbody>
  </table>
</div>
{{#ifThreadInfo threadInfo}}
  <div>
    Thread info
  </div>
  {{#ifExists threadInfo.threadCpuTime}}
    <div class="indent2">
      CPU time: {{nanosToMillis threadInfo.threadCpuTime}} milliseconds
    </div>
  {{/ifExists}}
  {{#ifExists threadInfo.threadBlockedTime}}
    <div class="indent2">
      Blocked time: {{threadInfo.threadBlockedTime}} milliseconds
    </div>
  {{/ifExists}}
  {{#ifExists threadInfo.threadWaitedTime}}
    <div class="indent2">
      Waited time: {{threadInfo.threadWaitedTime}} milliseconds
    </div>
  {{/ifExists}}
  {{#ifExists threadInfo.threadAllocatedBytes}}
    <div class="indent2">
      Allocated memory: {{formatAllocatedBytes threadInfo.threadAllocatedBytes}}
    </div>
  {{/ifExists}}
{{/ifThreadInfo}}
{{#if gcInfos}}
  <div>
    GC info
  </div>
  {{#eachGcInfoOrdered gcInfos}}
    <div class="indent2">
      {{name}}: {{collectionTime}} milliseconds ({{collectionCount}}
      collection{{#ifMoreThanOne collectionCount}}s{{/ifMoreThanOne}})
    </div>
  {{/eachGcInfoOrdered}}
{{/if}}
<br>
{{#ifExistenceYes spansExistence}}
  <div>
    <button class="flat-btn flat-btn-big-pad1aligned sps-toggle">
      <span class="glowroot-link-color">Spans</span>
    </button>
    {{! spinner is not used in export file }}
    <div>
      <div class="hide trace-detail-spinner"></div>
    </div>
  </div>
  <div id="sps"></div>
{{/ifExistenceYes}}
{{#ifExistenceExpired spansExistence}}
  <div>
    <strong>
      Spans no longer exists for this trace
    </strong>
    <em>(see Glowroot > Configuration &gt; Storage &gt; Spans/profiles capped db)</em>
  </div>
{{/ifExistenceExpired}}
{{#ifExistenceYes profileExistence}}
  <div>
    <button class="flat-btn flat-btn-big-pad1aligned profile-toggle">
      <span class="glowroot-link-color">Profile</span>
    </button>
    {{! spinner is not used in export file }}
    <div>
      <div class="hide trace-detail-spinner"></div>
    </div>
  </div>
  <div class="nowrap hide" id="profileOuter">
    <select class="form-control profile-filter input-xlarge hide" onchange="this.blur()"
            style="margin: 4px;">
    </select>
    <div class="profile-common hide">
      <span class="inline-block unexpanded-content glowroot-link-color">common base</span>
      {{! standard expanded-content bottom margin is not needed since nothing can be expanded
          directly below using span so background will stretch beyond page border if needed }}
      <span class="inline-block expanded-content hide" style="margin-bottom: 0;"></span>
    </div>
    <div class="profile-interesting indent1"></div>
  </div>
{{/ifExistenceYes}}
{{#ifExistenceExpired profileExistence}}
  <div>
    <strong>
      Profile no longer exists for this trace
    </strong>
    <em>(see Glowroot > Configuration &gt; Storage &gt; Spans/profiles capped db)</em>
  </div>
{{/ifExistenceExpired}}
{{#ifExistenceYes outlierProfileExistence}}
  <div>
    <button class="flat-btn flat-btn-big-pad1aligned outlier-profile-toggle">
      <span class="glowroot-link-color">Outlier profile</span>
    </button>
    {{! spinner is not used in export file }}
    <div>
      <div class="hide trace-detail-spinner"></div>
    </div>
  </div>
  <div class="nowrap hide" id="outlierProfileOuter">
    <select class="form-control profile-filter input-xlarge hide" onchange="this.blur()"
            style="margin: 4px;">
    </select>
    <div class="profile-common hide">
      <span class="inline-block unexpanded-content glowroot-link-color">common base</span>
      {{! standard expanded-content bottom margin is not needed since nothing can be expanded
          directly below using span so background will stretch beyond page border if needed }}
      <span class="inline-block expanded-content hide" style="margin-bottom: 0;"></span>
    </div>
    <div class="profile-interesting indent1"></div>
  </div>
{{/ifExistenceYes}}
{{#ifExistenceExpired outlierProfileExistence}}
  <div>
    <strong>
      Outlier profile no longer exists for this trace
    </strong>
    <em>(see Glowroot > Configuration &gt; Storage &gt; Spans/profiles capped db)</em>
  </div>
{{/ifExistenceExpired}}
