{{#if limitExceededMarker}}
  <div class="gt-indent1" style="padding: 10px 0;">
    <strong>... Entry limit exceeded ...</strong>
  </div>
{{^}}
  {{#if limitExtendedMarker}}
    <div class="gt-indent1" style="padding: 10px 0;">
      <strong>... Entry limit extended mid-trace ...</strong>
    </div>
  {{^}}
    <div class="clearfix">
      <div class="gt-indent1 gt-left-numeric-column" style="width: {{offsetColumnWidth}}em; float: left;">
        +{{nanosToMillis offset}}
      </div>
      {{! +1 at the beginning is for the indent1 of the offset column }}
      <div style="margin-left: {{traceEntryIndent .}}em; float: left;">
        <span class="gt-inline-block gt-left-numeric-column" style="width: {{durationColumnWidth}}em;">
          {{nanosToMillis duration}}{{#if active}}..{{/if}}
        </span>
      </div>
      <div style="overflow: hidden; padding-left: 0.5em;">
        {{#if message}}
          {{#ifLongMessage message.text}}
            {{! surrounding div is needed as common parent for toggling unexpanded/expanded content }}
            <div>
              <div class="gt-inline-block gt-unexpanded-content">{{firstPart message.text}}
                <span class="gt-link-color"><strong>...</strong></span> {{lastPart message.text}}
              </div>
              <span class="gt-inline-block gt-expanded-content gt-break-word hide">{{message.text}}</span>
            </div>
          {{^}}
            {{#ifSqlMessage message.text}}
              {{! surrounding div is needed as common parent for toggling unexpanded/expanded content }}
              <div>
                <div class="gt-inline-block gt-unexpanded-content">{{message.text}}</div>
                <span class="gt-inline-block gt-expanded-content gt-break-word hide">{{message.text}}</span>
              </div>
            {{^}}
              <div class="gt-content-padding">{{message.text}}</div>
            {{/ifSqlMessage}}
          {{/ifLongMessage}}
          {{#if message.detail}}
            <div class="gt-content-detail">
              <span class="gt-inline-block gt-unexpanded-content gt-link-color">detail</span>
              <span class="gt-inline-block gt-expanded-content hide">{{{messageDetailHtml message.detail}}}</span>
            </div>
          {{/if}}
        {{/if}}
        {{#if error}}
          <div class="{{{errorIndentClass message}}}">
            <div>
              <strong><span class="gt-inline-block gt-content-padding">{{error.message}}</span></strong>
            </div>
            {{#if error.throwable}}
              <div class="{{{exceptionIndentClass message}}}">
                <span class="gt-inline-block gt-unexpanded-content gt-link-color">exception</span>
                {{! using span so background will stretch beyond page border if needed }}
                <span class="gt-inline-block gt-expanded-content gt-nowrap hide">
                  {{{exceptionHtml error.throwable}}}
                </span>
              </div>
            {{/if}}
          </div>
        {{/if}}
        {{#if stackTrace}}
          <div class="gt-indent2">
            <span class="gt-inline-block gt-unexpanded-content gt-link-color">location stack trace</span>
            {{! using span so background will stretch beyond page border if needed }}
            <span class="gt-inline-block gt-expanded-content gt-nowrap hide">{{{stackTraceHtml stackTrace}}}</span>
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
{{/if}}
