{{#if error}}
  <div>
    <strong style="font-size: 16px;">ERROR</strong>
  </div>
{{/if}}
{{#if active}}
  <div>
    <strong style="font-size: 16px;">ACTIVE {{#if partial}}/ PARTIAL{{/if}}</strong>
  </div>
{{^}}
  {{#if partial}}
    <div>
      <strong style="font-size: 16px;">PARTIAL</strong>
    </div>
  {{/if}}
{{/if}}
{{#if background}}
  <div>
    <strong style="font-size: 16px;">Background</strong>
  </div>
{{/if}}
<div class="gt-break-word gt-second-line-indent">
  <strong style="font-size: 16px;">{{headline}}</strong>
  {{#if showExport}}
    <button class="gt-flat-btn gt-flat-btn-big gt-link-color download-trace">
      export
    </button>
  {{/if}}
</div>
<div class="gt-trace-attr-name">Transaction type:&nbsp;</div>
<div class="gt-trace-attr-value">{{transactionType}}</div>
<div class="gt-trace-attr-name">Transaction name:&nbsp;</div>
<div class="gt-trace-attr-value">{{transactionName}}</div>
{{#if error}}
  <div class="gt-trace-attr-name">Error:&nbsp;</div>
  <div class="gt-trace-attr-value">{{errorMessage}}</div>
  {{#if errorThrowable}}
    <div class="gt-trace-exception-indent">
      <span class="gt-inline-block gt-unexpanded-content gt-link-color">exception</span>
      {{! using span so background will stretch beyond page border if needed }}
      <div class="gt-inline-block gt-expanded-content gt-nowrap gt-with-clip hide">
        {{{exceptionHtml errorThrowable}}}
        <i class="fa fa-clipboard gt-clip"></i>
      </div>
    </div>
  {{/if}}
{{/if}}
<div>
  <div class="gt-trace-attr-name">Start:&nbsp;</div>
  <div class="gt-trace-attr-value">{{date startTime}}</div>
</div>
<div>
  <div class="gt-trace-attr-name">Duration:&nbsp;</div>
  <div class="gt-trace-attr-value">{{nanosToMillis duration}}{{#if active}}..{{/if}} milliseconds</div>
</div>
{{#if user}}
  <div class="gt-trace-attr-name">User:&nbsp;</div>
  <div class="gt-trace-attr-value">{{user}}</div>
{{/if}}
{{#eachKeyValuePair customAttributes}}
  <div class="gt-trace-attr-name">{{key}}:&nbsp;</div>
  <div class="gt-trace-attr-value">{{value}}</div>
{{/eachKeyValuePair}}
{{{customDetailHtml customDetail}}}
<div class="gt-bold">
  Breakdown:
</div>
<div class="gt-timers" style="margin-top: -10px;">
  <table class="gt-timers-table gt-indent2" style="border-spacing: 0;">
    <thead>
    <tr>
      <td></td>
      <td style="font-weight: 600;">total&nbsp;(ms)</td>
      <td style="font-weight: 600;">count</td>
      <td>
        <button class="gt-flat-btn gt-flat-btn-big gt-link-color gt-timers-view-toggle"
                style="margin-top: -6px; margin-bottom: -6px;">
          switch to tree view
        </button>
      </td>
    </tr>
    </thead>
    <tbody>
    {{#eachTimerFlattenedOrdered rootTimer}}
      <tr class="align-top">
        <td style="text-align: left;">
          <div style="margin-left: {{timerIndent .}}em;">
            <div class="gt-break-word gt-second-line-indent">{{name}}</div>
          </div>
        </td>
        <td>{{nanosToMillis total}}{{#if active}}..{{/if}}</td>
        <td>{{count}}</td>
        <td></td>
      </tr>
    {{/eachTimerFlattenedOrdered}}
    </tbody>
  </table>
  <table class="hide gt-timers-table gt-indent2" style="border-spacing: 0;">
    <thead>
    <tr>
      <td></td>
      <td style="font-weight: 600;">total&nbsp;(ms)</td>
      <td style="font-weight: 600;">count</td>
      <td>
        <button class="gt-flat-btn gt-flat-btn-big gt-link-color gt-timers-view-toggle"
                style="margin-top: -6px; margin-bottom: -6px;">
          switch to flattened view
        </button>
      </td>
    </tr>
    </thead>
    <tbody>
    {{#eachTimerOrdered rootTimer}}
      <tr class="align-top">
        <td style="text-align: left;">
          <div style="margin-left: {{timerIndent .}}em;">
            <div class="gt-break-word gt-second-line-indent">
              {{name}}{{#if extended}} (extended){{/if}}
            </div>
          </div>
        </td>
        <td>{{nanosToMillis total}}{{#if active}}..{{/if}}</td>
        <td>{{count}}</td>
        <td></td>
      </tr>
    {{/eachTimerOrdered}}
    </tbody>
  </table>
</div>
{{#ifAnyThreadInfo .}}
  <div class="gt-bold">
    JVM thread metrics
  </div>
  {{#ifNotNA threadCpuTime}}
    <div class="gt-indent2">
      <span>CPU time:</span>
      {{nanosToMillis threadCpuTime}} milliseconds
    </div>
  {{/ifNotNA}}
  {{#ifNotNA threadBlockedTime}}
    <div class="gt-indent2">
      <span>Blocked time:</span>
      {{nanosToMillis threadBlockedTime}} milliseconds
    </div>
  {{/ifNotNA}}
  {{#ifNotNA threadWaitedTime}}
    <div class="gt-indent2">
      <span>Waited time:</span>
      {{nanosToMillis threadWaitedTime}} milliseconds
    </div>
  {{/ifNotNA}}
  {{#ifNotNA threadAllocatedBytes}}
    <div class="gt-indent2">
      <span>Allocated memory:</span>
      {{formatAllocatedBytes threadAllocatedBytes}}
    </div>
  {{/ifNotNA}}
{{/ifAnyThreadInfo}}
{{#ifNonEmptyObject gcActivity}}
  <div class="gt-bold">
    GC activity
  </div>
  {{#eachGcActivityOrdered gcActivity}}
    <div class="gt-indent2">
      <span>{{key}}:</span>
      {{collectionTime}} milliseconds ({{collectionCount}} collection{{#ifNotOne collectionCount}}s{{/ifNotOne}})
    </div>
  {{/eachGcActivityOrdered}}
{{/ifNonEmptyObject}}
<br>
{{#ifExistenceYes entriesExistence}}
  <div>
    <button class="gt-flat-btn gt-flat-btn-big-pad1aligned gt-sps-toggle">
      <span class="gt-link-color">Trace entries ({{entryCount}})</span>
    </button>
    {{! spinner is not used in export file }}
    <div>
      <div class="hide gt-trace-detail-spinner"></div>
    </div>
  </div>
  <div style="margin: 10px 0;">
    <div id="sps"></div>
  </div>
{{/ifExistenceYes}}
{{#ifExistenceYes profileExistence}}
  <div>
    <button class="gt-flat-btn gt-flat-btn-big-pad1aligned gt-profile-toggle">
      <span class="gt-link-color">Profile ({{profileSampleCount}})</span>
    </button>
    {{! spinner is not used in export file }}
    <div>
      <div class="hide gt-trace-detail-spinner"></div>
    </div>
  </div>
  <div class="gt-nowrap hide" id="profileOuter" style="margin: 10px 0;">
    <div style="padding-bottom: 10px;">
      <input class="form-control gt-profile-text-filter hide"
             style="display: inline-block; width: 25em;"
             placeholder="filter the profile tree">
      <select class="form-control gt-profile-filter gt-input-xlarge hide" onchange="this.blur()"
              style="display: inline-block; vertical-align: middle;">
      </select>
      <button type="button" class="btn btn-default gt-profile-view-toggle hide" style="margin-left: 20px;">
        Switch to text filter
      </button>
    </div>

    <div class="gt-profile gt-indent1"></div>
  </div>
{{/ifExistenceYes}}
{{#ifExistenceExpired entriesExistence}}
  {{#ifExistenceExpired profileExistence}}
    <div style="margin: 10px 0;">
      <strong>
        Entries and profile for this trace have expired
      </strong>
      <em>
        (see <a href="config/storage#trace-capped-database-size">Configuration &gt; Storage &gt; Trace detail data</a>)
      </em>
    </div>
  {{^}}
    <div style="margin: 10px 0;">
      <strong>
        Entries for this trace have expired
      </strong>
      <em>
        (see <a href="config/storage#trace-capped-database-size">Configuration &gt; Storage &gt; Trace detail data</a>)
      </em>
    </div>
  {{/ifExistenceExpired}}
{{^}}
  {{#ifExistenceExpired profileExistence}}
    <div style="margin: 10px 0;">
      <strong>
        Profile for this trace has expired
      </strong>
      <em>
        (see <a href="config/storage#trace-capped-database-size">Configuration &gt; Storage &gt; Trace detail data</a>)
      </em>
    </div>
  {{/ifExistenceExpired}}
{{/ifExistenceExpired}}
