<div class="clearfix">
  <div class="gt-indent1 gt-left-numeric-column" style="width: {{offsetColumnWidth}}em; float: left;">
    +{{nanosToMillis startOffsetNanos}}
  </div>
  {{! +1 at the beginning is for the indent1 of the offset column }}
  <div style="margin-left: {{traceEntryIndent .}}em; float: left;">
      <span class="gt-inline-block gt-left-numeric-column" style="width: {{durationColumnWidth}}em;">
        {{nanosToMillis durationNanos}}{{#if active}}..{{/if}}
      </span>
  </div>
  <div style="overflow: hidden; padding-left: 0.5em;">
    {{#ifDisplayMessage .}}
      {{#ifLongMessage message}}
      {{! surrounding div is needed as common parent for toggling unexpanded/expanded content }}
        <div>
          <div class="gt-inline-block gt-unexpanded-content">
            {{firstPart message}}
            <span class="gt-link-color"><strong>...</strong></span>
            {{lastPart message}}
          </div>
          <!-- only convert newlines to <br>s for long messages -->
          <div class="gt-expanded-content gt-with-clip hide"
               style="position: relative; display: inline-block;">
            <i class="fa fa-clipboard gt-clip"></i>

            <div class="gt-break-word gt-pre-wrap"><!--
                lack of space here is significant because of gt-pre-wrap
             -->{{message}}<!--
           --></div>
          </div>
        </div>
      {{^}}
      {{! surrounding div is needed as common parent for toggling unexpanded/expanded content }}
        <div>
          <div class="gt-inline-block gt-unexpanded-content">
            {{message}}
          </div>
          <div class="gt-expanded-content gt-with-clip hide"
               style="position: relative; display: inline-block;">
            <i class="fa fa-clipboard gt-clip"></i>

            <div class="gt-break-word gt-pre-wrap"><!--
                lack of space here is significant because of gt-pre-wrap
             -->{{message}}<!--
           --></div>
          </div>
        </div>
      {{/ifLongMessage}}
      {{#ifNonEmptyObject detail}}
        <div class="gt-content-detail">
          <span class="gt-inline-block gt-unexpanded-content gt-link-color">detail</span>
            <span class="gt-inline-block gt-expanded-content hide">
              {{{entryDetailHtml detail}}}
            </span>
        </div>
      {{/ifNonEmptyObject}}
    {{/ifDisplayMessage}}
    {{#if error}}
      <div class="{{{errorIndentClass message}}}">
        <div>
          <strong>
              <span class="gt-inline-block gt-content-padding gt-break-word gt-pre-wrap"><!--
               lack of space here is significant because of gt-pre-wrap
            -->{{error.message}}<!--
           --></span>
          </strong>
        </div>
        {{#if error.exception}}
          <div class="{{{exceptionIndentClass message}}}">
            <div class="gt-inline-block gt-unexpanded-content gt-link-color">exception</div>
            {{! using span so background will stretch beyond page border if needed }}
            <div class="gt-inline-block gt-expanded-content gt-nowrap gt-with-clip hide"
                 style="overflow-x: auto;">
              {{{exceptionHtml error.exception}}}
              <i class="fa fa-clipboard gt-clip"></i>
            </div>
          </div>
        {{/if}}
      </div>
    {{/if}}
    {{#if locationStackTraceElements}}
      <div class="gt-indent2">
        <div class="gt-inline-block gt-unexpanded-content gt-link-color">location stack trace</div>
        {{! using span so background will stretch beyond page border if needed }}
        <div class="gt-inline-block gt-expanded-content gt-nowrap gt-with-clip hide"
             style="overflow-x: auto;">
          {{{locationStackTraceHtml locationStackTraceElements}}}
          <i class="fa fa-clipboard gt-clip"></i>
        </div>
      </div>
    {{/if}}
  </div>
</div>
